/*
	--color-primary:#1a9f60;
	--color-lightGrey:#d2d6dd;
	--color-grey:#7e818b;
	--color-darkGrey:#3f4144;
	--color-error:#d43939;
	--color-success:#28bd14;
	--grid-maxWidth:120rem;
	--grid-gutter:2rem;
	--font-size:1.6rem;
*/

:root {
	--color-primary: #662f89; /* brand color */
	--grid-maxWidth: 80rem; /* max container width 1080px */
	--color-lighterPrimary: #eceffa;

	--spinner-back-color: #ddd;
	--spinner-fore-color: var(--color-primary);
	--universal-margin: .5em;
}

html, body {
	height: 100%;
}

#page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#header {
	margin:3rem 0 0;
	min-height:200px;
}

#header .logo {
	position:relative;
	color: var(--color-primary);
}
#header .logo img {
	width:200px;
	height:auto;
}
#header .logo small {
	position:absolute;
	top:30%; right:5%;
}

#main {
	flex-grow: 1;
}

#footer {
	padding:1rem;
	margin-top:2rem;
	border-top:1px solid var(--color-lightGrey);
}
#footer > .is-center { min-height: 2em; /* pas de saut avec l’arrivée du .spinner */}
#updates { margin-left:auto; }
#updates .button {
	font-size: small;
	margin-left:1em;
}

.card { padding:2rem; }
.card .content {
	max-width: 60rem;
	margin:0 auto 2rem;
}
.card footer {
	margin-top:1rem;
}
.current { color: var(--color-grey); }

progress {
	height:2rem;
	width:100%;
	background: var(--color-lighterPrimary);
}
progress::-moz-progress-bar { height:100%; background: var(--color-primary); }
progress::-webkit-progress-value { height:100%; background: var(--color-primary); }
progress::-webkit-progress-bar { background: var(--color-lighterPrimary); }
progress { color:  var(--color-primary); }

/* spinner, from mini.css */
@keyframes spinner-donut-anim {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	display: inline-block;
	margin: 0 var(--universal-margin);
	border: 0.25rem solid var(--spinner-back-color);
	border-left: 0.25rem solid var(--spinner-fore-color);
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	animation: spinner-donut-anim 1.2s linear infinite;
}