{% extends "base.html.twig" %}

{% set error = {'code': 403, 'title': 'Error 403', 'text': 'Access Denied'} %}

{% block title %}{{ error.code }} - {{ error.text }}{% endblock %}

{% block content %}
    {% include "parts/error.html.twig" with error %}
{% endblock %}