{% extends "base.html.twig" %}

{% set error = {'code': 404, 'title': 'Error 404', 'text': 'Not Found'} %}

{% block title %}{{ error.code }} - {{ error.text }}{% endblock %}

{% block content %}
    {% include "parts/error.html.twig" with error %}
{% endblock %}