{% extends "base.html.twig" %}

{% block title %}{{ 'titre'|trans({'%paquet%': config.paquet}) }}{% endblock %}

{% block content %}

    <div class="card">
        {% include "parts/choice_lang.html.twig" %}

        <div class="content">
            {{ 'texte_preliminaire'|trans({
                '%paquet%': config.paquet,
                '%chmod%': chmod,
                '%href%': ''
            })|raw }}
        </div>

        <footer class="is-right">
            <a class="button primary" href="">{{ 'Recharger la page'|trans }}</a>
        </footer>
    </div>


{% endblock %}