<!doctype html>
<html lang="{{ lang.locale }}" dir="{{ lang.dir }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>{% block title %}{% endblock %} - Spip Loader</title>
        <meta name="description" content="{{ description }}">
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{{ asset('favicon.png') }}"/>
    <link rel="stylesheet" href="{{ asset('css/chota.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/spip_loader.css') }}">
    <script type="application/javascript" src="{{ asset('js/spip_loader.js') }}"></script>
    <script type="application/javascript" src="{{ asset('js/encoding.js') }}"></script>
</head>
<body>
    <section id="page" class="container">
        <header id="header" class="is-center">
            <h1 class="logo">
                <img src="{{ asset('img/spip.svg') }}" alt="">
                <small>Loader</small>
            </h1>
        </header>
        <main id="main">{% block content %}{% endblock %}</main>
        <footer id="footer">
            {% block footer %}
                <div class="is-center is-vertical-align">
                    <small>SPIP Loader, version {{ config.application.version }}</small>
                    {% block update %}{% endblock %}
                </div>
            {% endblock %}
        </footer>
    </section>
</body>
</html>
