{% extends "base.html.twig" %}

{% set title = (versions.current ? 'titre_maj' : 'titre')|trans({'%paquet%': versions.future}) %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="card">
        <h4>{{ title }}</h4>

        <progress id="progress" max="100" value="0"> 10% </progress>
        <div id="progress-label"></div>

        <script type="text/javascript">
            let updater = new Updater({
                url_start: '{{ ajax("download/start") }}',
                progress: document.getElementById("progress"),
                output: document.getElementById("progress-label"),
                debug: {{ config.debug ? 'true' : 'false' }},
                error: '<span class="text-error">Une erreur est survenue !</span>',
            });
            updater.start();
        </script>
    </div>

{% endblock %}