{% extends "base.html.twig" %}

{% block title %}{{ 'titre'|trans({'%paquet%': config.repository.package}) }}{% endblock %}

{% block content %}
    <div class="card">
        {% include "parts/choice_lang.html.twig" %}

        {{ 'texte_intro'|trans({
            '%paquet%': config.repository.package,
            '%dest%': 'ce_repertoire'|trans
        })|raw }}

        {% include "parts/choice_branch.html.twig" %}

        <footer class="is-right primary">
            <a class="button primary" href="{{ page('download') }}">{{ versions.current ? 'bouton_suivant_maj'|trans : 'bouton_suivant'|trans }}</a>
        </footer>
    </div>
{% endblock %}

{% block update %}
    <div id="updates"></div>
    <script type="text/javascript">
    let selfUpdater = new SelfUpdater({
        url_find: '{{ ajax("self-update/find") }}',
        url_update: '{{ ajax("self-update/update") }}',
        output: document.getElementById("updates"),
        debug: {{ config.debug ? 'true' : 'false' }},
        error: '<span class="text-error">Une erreur est survenue !</span>',
    });
    selfUpdater.findUpdate();
    </script>
{% endblock %}