<header>
    <div class="row">
        <div class="col-8">
            <h4>{{ 'titre'|trans({'%paquet%': config.repository.package}) }}</h4>
        </div>
        <div class="col">
            <script>
                function changeLanguage() {
                    var locale = document.getElementById("LanguageSelector").value;
                    document.cookie = "locale=" + locale + "; path=/";
                    document.cookie = "spip_lang_ecrire=" + locale + "; path=/";
                    window.location.reload(true);
                }
            </script>
            <form id="Language" method="get" action="">
                <select id="LanguageSelector" onchange="changeLanguage();">
                    {% for locale in locales %}
                        <option value="{{ locale }}"{% if locale == lang.locale %} selected{% endif %}>
                            {{ 'nom_langue'|trans([], null, locale) }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</header>