<div class="row">
    {% if versions.current -%}
    <div class="col-12">
            <p class="current">{{ 'titre_version_courante'|trans}} <strong>{{ versions.current }}</strong></p>
    </div>
    {%- endif %}
    <div class="col-8">
        <p class="future">{{ 'titre_version_future'|trans}} <strong>{{ versions.future }}</strong></p>
    </div>
    <div class="col">
        <form method="get" action="">
            <select name="branch" id="BranchSelector" onchange="this.form.submit()">
                {% for key, paquet in versions.installable_branches %}
                    <option value="{{ key }}"{% if paquet.zip == versions.active_zip %} selected{% endif %}>{{ config.paquet }} {{ key }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
</div>