<a id="do-selfupdate" class="button dark" href="#" data-href="https://www.spip.net/download" title="{{ 'spip_loader_maj'|trans({'%version%': version})|escape('html_attr') }}">
    Mettre à jour vers {{ version }}
</a>
